@charset "ISO-8859-1";

body {
	background-color: lightgreen;
}

h1 {
	text-align: center;
	font-size: 60px;
	margin:0px;
    padding:0px;
}

h2 {
	text-align: center;
	font-size: 40px;
	margin:10px;
    padding:10px;
}

.container {
  padding: 16px;
  text-align: center;
}

input[type=text], input[type=password] {
  width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}